.carouselTicker__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.carouselTicker__item {
  margin: 0 0 0 5px;
  float: left;
  border: 2px solid #0a4275;
  width: 120px;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  font-size: 11px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid green;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;
}
