/*  INDEX.HTML */

.forgot {
    text-align: center;
}

.background_header {
    background-color: #0a4275;
}

/* FORGOTPASS.HTML */


/* #name, #email, #password, #check, #identidy, #zip, #send, #street, #district, #city, #uf{
    margin-top: 1rem;
}

.forgot{
    text-align: center;
}

.fundo{
    background-color: #0a4275;
}

.nav-link{
    color: #ffff;
    background-color: #0a4275;
}

.nav-link:hover{
    color: #ffff;
} */