#name, #email, #password, #check, #identidy, #zip, #send, #street, #district, #city, #uf{
    margin-top: 1rem;
}

.forgot{
    text-align: center;
}

.fundo{
    background-color: #0a4275;
}

.nav-link{
    color: #ffff;
    background-color: #0a4275;
}

.nav-link:hover{
    color: #ffff;
}

.dropdown-item{
    color: white;
}

/* AUTO MESSAGE HOME */

.container__message p {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    font-family: Courier, monospace;
    margin: 0.8em 0;
    font-size: 18px;
    color: #B95;
  }
  
  .ghost,
  .glitch {
    opacity: 0.25;
  }
  
  #animate {
    text-shadow: 0 0 8px rgba(209, 194, 165, 0.1);
    position: absolute;
    color: #4f4228;
    bottom: 0;
  }
  
  #container {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background: -webkit-radial-gradient(50% 50%, ellipse, #20202D 0%, #101018 75%, #060612 100%);
    background: -moz-radial-gradient(50% 50%, ellipse, #20202D 0%, #101018 75%, #060612 100%);
    width: auto;
    margin: 10% 20% 15% 20%;
  }