.logo {
    width: 35px;
}

.box {

    width: 65%;
    padding: 15px !important;
}

.us {
    border-style: outset;
    border-color: #0a4275;
}

@media only screen and (max-width: 768px) {
    .box {
        min-width: 100%;
    }
}