@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');

.font {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
/* .carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position:relative;
} */