.forgot{
    text-align: center;
}

.fundo{
    background-color: #0a4275;
}

.nav-link{
    color: #ffff;
    background-color: #0a4275;
}

.nav-link:hover{
    color: #ffff;
}

.box{
    width: 800px;
}

.mother{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.us{
    border-style: outset;
    border-color: #0a4275;
}

.media-content{
    height: 75px;
}